    @font-face {
        font-family: Kanit-Medium;
        src: url('/font/Kanit-Medium.ttf');
    }
    
    @font-face {
        font-family: Kanit-Regular;
        src: url('/font/Kanit-Regular.ttf');
    }
    
    @font-face {
        font-family: Kanit-ExtraLight;
        src: url('/font/Kanit-ExtraLight.ttf');
    }
    
    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        margin-bottom: 60px;
        font-family: Kanit-ExtraLight !important;
    }
    
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #003b6f;
    }
    
    .vertical-start {
        vertical-align: top;
    }
    
    .vertical-center {
        vertical-align: middle;
    }
    
    .vertical-end {
        vertical-align: bottom;
    }
    
    .form-select-1x {
        border-radius: 8px !important;
        color: #4f72e5 !important;
        line-height: 1 !important;
        background-color: #ffffff;
    }
    
    .form-select-2x {
        border-radius: 8px !important;
        color: #4f72e5 !important;
        line-height: 1 !important;
        background-color: #ffffff;
    }
    
    .form-select-3x {
        border-radius: 8px !important;
        color: #4f72e5 !important;
        line-height: 1 !important;
        background-color: #ffffff;
    }
    
    .form-select-blind-text {
        border-radius: 8px !important;
        color: #8a8c8e !important;
        line-height: 1 !important;
        background-color: #ffffff;
    }
    
    .drop_profile .dropdown-toggle::after {
        display: none;
    }
    /*  Swiper  */
    
    .middle_index .swiper-container {
        width: 100%;
        height: 287px;
    }
    
    .calendar_div .swiper-container {
        width: 283px;
        height: 200px;
        margin-bottom: 10px;
    }
    
    .middle_index .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    /* .calendar_div .swiper-pagination {
    transform: translateY(8px);
} */
    /*  Swiper  */
    
    .padding_body {
        /* padding-left: 270px;
    padding-right: 270px;
    */
        /* margin-top: 24px; */
        margin-bottom: 24px;
        margin-top: 24px;
    }
    
    .padding_footer {
        padding-left: 145px;
        padding-right: 325px;
    }
    
    .nav_style {
        padding-left: 260px;
        padding-right: 260px;
    }
    /* Index */
    
    .btn_popular {
        width: 100%;
        height: auto;
        margin: 0 22px 22px 0;
    }
    
    .calendar_div {
        width: 100%;
        max-height: 570px;
        margin: 0 22px 22px 0;
        /* transform: translateY(-26px); */
        background-color: #ffffff;
    }
    
    .card_div_left {
        width: 136px;
        height: 144px;
        margin: 0 10px 10px 0;
        object-fit: contain;
    }
    
    .img_left_home {
        width: 136px;
        height: 144px;
        margin: 0 10px 10px 0;
        object-fit: contain;
        cursor: pointer;
    }
    
    .middle_index {
        width: 100%;
        height: 287px;
        /* margin: 0 22px 10px 0; */
    }
    
    .end_index {
        width: 100%;
        height: 287px;
        object-fit: contain;
        box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.18);
        background-color: #ff7c7a;
    }
    
    #icon_ads {
        margin-left: 22px;
        margin-top: 25px;
    }
    
    .ads {
        width: 84px;
        height: 41px;
        margin: 16px 0px 0px 5px;
        font-family: Kanit-Regular;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    #date_ads {
        width: 97px;
        height: 32px;
        margin: 8px 208px 145px 1px;
        font-family: Kanit-Regular;
        font-size: 14px;
        font-weight: bolder;
        /* font-stretch: normal;
    font-style: normal; */
        line-height: 2.29;
        /* letter-spacing: normal; */
        color: #ffffff;
    }
    
    #title_ads {
        width: 295px;
        height: 84px;
        margin: 38px 7px 63px 1px;
        font-family: Kanit-ExtraLight;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    #by {
        width: 290px;
        height: 32px;
        margin: 45px 0px 0 0px;
        font-family: Kanit-ExtraLight;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    .schedule_calendar_span {
        width: 143px;
        height: 37px;
        margin: 0 24px 15px 10px;
        font-family: Kanit-Regular;
        font-size: 24px;
        /* font-weight: bold; */
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4f72e5;
    }
    
    .knowledgeCenter {
        width: 100%;
        background-color: #ffffff;
        height: 1163px;
        padding: 16px 16px 16px 16px;
        background-color: #ffffff;
        /* transform: translateY(-15.2%); */
    }
    
    .three_dots {
        /* display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
         */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden !important;
        white-space: nowrap;
    }
    
    .detail_event_calendar_div .three_dots {
        /* display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
         */
        width: 170px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden !important;
        white-space: nowrap;
    }
    
    .logo_blue_knowledge {
        max-width: 100%;
        max-height: fit-content;
        margin: 0 15px 0 0;
        padding: 18px 13px 17px 14px;
        object-fit: contain;
        border-radius: 2px;
        background-color: #96cfee;
    }
    
    .logo_violet_knowledge {
        max-width: 100%;
        max-height: fit-content;
        margin: 0 15px 0 0;
        padding: 18px 13px 17px 14px;
        object-fit: contain;
        border-radius: 2px;
        background-color: #a4b6f0;
    }
    
    .logo_pink_knowledge {
        max-width: 100%;
        max-height: fit-content;
        margin: 0 15px 0 0;
        padding: 18px 13px 17px 14px;
        object-fit: contain;
        border-radius: 2px;
        background-color: #e9bdee;
    }
    
    .link_text {
        font-family: Kanit-ExtraLight;
        font-size: 10px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
    }
    
    .content_knowledge {
        line-height: 1.36;
    }
    
    .content_knowledge span {
        font-family: Kanit-ExtraLight;
        font-size: 14px;
        font-weight: bolder;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #4a4a4a;
    }
    
    .by_knowledge {
        list-style: 2;
    }
    
    .by_knowledge div span {
        font-family: Kanit-ExtraLight;
        font-size: 10px;
        font-weight: 500;
        color: #4a4a4a;
    }
    
    .rating_blog {
        padding: 0px 13px 0 5px;
    }
    
    #blog_profile {
        width: 40px;
        height: 40px;
        margin: 8px 0px 0px 0px;
        object-fit: contain;
        border: solid 2px #ffffff;
        border-radius: 50%;
    }
    
    .text_highlight {
        font-family: Kanit-Regular;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #4a4a4a;
    }
    
    .rating_highlight {
        padding: 0px 4px 0 2px;
    }
    
    .files_popular {
        width: 100%;
        height: 402px;
        margin-top: 22px;
        padding: 16px 16px;
        /* transform: translateY(-148.6%); */
        background-color: #ffffff;
    }
    
    .Board {
        width: 100%;
        height: 898px;
        object-fit: contain;
        padding: 9px 10px;
        box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.18);
        background-color: #4965bd;
        /* transform: translateY(-179px); */
    }
    
    .lineUp_Blog {
        width: 1px;
        height: 26px;
        margin: 0px 10px 0px 10px;
        border: solid 0.5px #ffffff;
    }
    
    .rating_Board {
        padding: 10px 8px 7px 0px;
    }
    
    .survay_form {
        width: 100%;
        height: fit-content;
        padding: 16px 8px;
        /* transform: translate(712px, -390px); */
    }
    
    .lineUp_survay {
        width: 1px;
        height: 26px;
        margin: 0px 10px 0px 10px;
        border: solid 0.5px #ffffff;
    }
    
    .position {
        width: 100%;
        height: 1038px;
        background-color: #e1e1e1;
        /* transform: translate(-682px, -150px); */
    }
    
    .etc {
        width: 1084px;
        height: 1032px;
        /* transform: translate(310px, -1188px); */
        background-color: #e1e1e1;
        padding: 0;
    }
    
    .filter_goods {
        border-radius: 8px !important;
    }
    
    .booking_rooms {
        width: 129px;
        max-width: 150px;
        height: 30.1px;
        padding: 4.5px 8.1px 3.5px;
        border-radius: 8px;
        color: #ffffff;
        box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
        background-image: linear-gradient(196deg, #4f72e5 84%, #314d7b -5%);
    }
    
    .booking_cars {
        width: 130px;
        max-width: 150px;
        height: 30.1px;
        padding: 4.5px 8.1px 3.5px;
        border-radius: 8px;
        color: #ffffff;
        box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
        background-image: linear-gradient(196deg, #4f72e5 84%, #314d7b -5%);
    }
    
    .filter_day {
        width: 100px;
        max-width: 110px;
        height: 29px;
        margin: 9px 12px 17px 14px;
        padding: 4px 3.5px 3px 10.4px;
        object-fit: contain;
        border: solid 0.5px #ceced4;
        text-align: start;
    }
    
    .filter_province {
        width: 117px;
        height: 29px;
        margin: 9px 12px 17px 14px;
        padding: 4px 3.5px 3px 10.4px;
        object-fit: contain;
        border: solid 0.5px #ceced4;
    }
    
    .booking {
        width: 1038px;
        height: 395.2px;
        background-color: #003b6f;
    }
    
    .news {
        width: 1919px;
        height: 452px;
        background: #798ed5;
        /* transform: translate(0px, -1720px); */
        padding: 30px 267px 10px 256px;
    }
    /* Swiper For News */
    
    .news_card .swiper-container .swiper-wrapper .swiper-slide {
        background: transparent;
        display: flex;
    }
    
    .news_card .swiper-container .swiper-wrapper {
        height: 250px !important;
    }
    
    .news_card .swiper-container {
        width: 100%;
        height: 360px;
    }
    
    .news_card .swiper-pagination {
        bottom: -6px;
    }
    
    .card_news {
        width: 437px;
        height: 319px;
        padding: 0;
    }
    
    .img_news {
        width: 100%;
        height: 207.5px;
        object-fit: cover;
    }
    
    .content_news {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
    }
    
    .gallery {
        width: 689px;
        height: 538px;
        background-color: #e1e1e1;
        /* transform: translate(0px, -678px); */
    }
    
    .gradient_img {
        position: relative;
    }
    
    .gradient_img:after {
        content: '';
        position: absolute;
        bottom: 51px;
        width: 418px;
        height: 505px;
        background-image: linear-gradient(to bottom, rgba(79, 114, 229, 0) 21%, #164ca5 104%);
    }
    
    .gallery .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .gallery .swiper-slide {
        background: transparent;
        display: flex;
        font-size: 18px;
    }
    
    .gallery .swiper-pagination {
        bottom: 27px !important;
    }
    /* .gallery .swiper-container .swiper-wrapper {
    height: 250px !important;
}

.gallery .swiper-container {
    width: 100%;
    height: 347px;
}

.gallery .swiper-pagination {
    bottom: 10px;
} */
    
    .vdo {
        width: 689px;
        height: 538px;
        background-color: #e1e1e1;
        /* transform: translate(18px, -678px); */
    }
    
    .dash_vdo {
        border-top: 1px solid #979797;
    }
    
    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btn_rent_room,
    .btn_rent_room:hover {
        padding: 6px 20px 6px 20px;
        width: 112px;
        height: 30px;
        font-family: Kanit-Thin;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(216deg, #4f72e5 36%, #314d7b 145%);
    }
    
    .vdo {
        width: 689px;
        height: 538px;
        background-color: #e1e1e1;
        /* transform: translate(18px, -678px); */
    }
    
    .dash_vdo {
        border-top: 1px solid #979797;
    }
    
    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btn_rent_room,
    .btn_rent_room:hover {
        padding: 6px 20px 6px 20px;
        width: 112px;
        height: 30px;
        font-family: Kanit-Thin;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(216deg, #4f72e5 36%, #314d7b 145%);
    }
    
    .vdo {
        width: 689px;
        height: 538px;
        background-color: #e1e1e1;
        /* transform: translate(18px, -678px); */
    }
    
    .dash_vdo {
        border-top: 1px solid #979797;
    }
    
    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btn_rent_room,
    .btn_rent_room:hover {
        padding: 6px 20px 6px 20px;
        width: 112px;
        height: 30px;
        font-family: Kanit-ExtraLight;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(216deg, #4f72e5 36%, #314d7b 145%);
    }