.text-head {
    font-size: 26px;
    color: #4f72e5 !important;
    font-family: Kanit-Regular;
}

.text-16 {
    font-size: 16px;
    color: #4a4a4a;
}

.text-14 {
    font-size: 14px;
    color: #4a4a4a;
}

.text-device-name {
    font-size: 16px;
    color: #4a4a4a;
    font-family: Kanit-Regular;
}

.text-key {
    font-size: 16;
    color: #4a4a4a;
    font-family: Kanit-Regular;
}

.btn-light {
    color: #212529;
    background-color: #ffffff;
    border-color: #d5d4d4;
    padding: 0 0;
    border-radius: 8px;
    border: 1px solid #d5d4d4;
}

.btn-cancel,
.btn-cancel:hover {
    width: 112px;
    height: 30px;
    background-image: linear-gradient(to bottom, #f84646, #ed2222);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    margin-right: 25px;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.btn-home-form,
.btn-home-form:hover {
    width: 112px;
    height: 30px;
    background-image: linear-gradient(to bottom, #4f72e5, #314d7b 119%);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    margin-right: 50px;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.btn-edit-form,
.btn-edit-form:hover {
    width: 112px;
    height: 30px;
    background-image: linear-gradient(to bottom, #f8c146, #ed8e22);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    margin-right: 25px;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.btn-borrow,
.btn-borrow:hover {
    background-image: linear-gradient(to bottom, #4f72e5 3%, #314d7b 180%);
    color: #ffffff;
    border-radius: 10px;
    padding: 0;
    width: 260px;
    height: 30px;
    font-size: 14px;
    text-decoration: none;
}

.btn-backpage,
.btn-backpage:hover {
    background-image: linear-gradient(to bottom, #e54f4f 3%, #7b3131 180%);
    color: #ffffff;
    border-radius: 10px;
    padding: 0;
    width: 260px;
    height: 30px;
    font-size: 14px;
    margin-right: 20px;
    text-decoration: none;
}

.btn-export {
    width: 260px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(268deg, #4f72e5 1%, #314d7b 99%);
    font-family: Kanit-ExtraLight;
}

.btn-lend,
.btn-lend:hover {
    width: 260px;
    height: 30px;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(268deg, #4f72e5 1%, #314d7b 99%);
    font-family: Kanit-ExtraLight;
}

.btn-lend-mini {
    width: 83px;
    height: 26px;
    padding: 2px 11px 2px 10px;
    color: #ffffff;
    border-radius: 8px;
    border: solid 0.5px #ceced4;
    background-image: linear-gradient(268deg, #4f72e5 1%, #2d53cf 99%);
    font-size: 14px;
    font-family: Kanit-ExtraLight;
}

.has-search .input-search {
    border-radius: 10px;
    height: 30px;
    width: 420px;
}

.has-search .input-search-absolute {
    position: absolute;
    top: 25%;
    right: 3%;
}

.drop_detial_room-arrow {
    border: solid blue;
    border-width: 0 1px 1px 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    transition: .2s ease;
}

.drop_detial_room-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.drop_detial_room-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.list_detial-equipment ul {
    list-style: none;
    padding-left: 15px;
    margin: 5px;
}

.list_detial-equipment ul li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.table_products tr td {
    border-bottom: 0;
    border-top: none !important;
}

.table td,
.table th {
    padding: 9px;
}

.table thead th {
    border-top: 1px solid #4f72e5 !important;
    border-bottom: 1px solid #4f72e5 !important;
    font-weight: none;
    font-family: Kanit-Regular;
}

.table>:not(:last-child)>:last-child>* {
    border-top: 1px solid #4f72e5 !important;
    border-bottom: 1px solid #4f72e5 !important;
}

.table tfoot tr,
.table tfoot th {
    border-top: 1px solid #4f72e5 !important;
    border-bottom: 1px solid #4f72e5 !important;
    font-weight: none;
    font-family: Kanit-Regular;
}

.t-head {
    font-weight: none;
    font-family: Kanit-Regular;
}