input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: url("/img/icon/date-range-material.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 250px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url("/img/icon/access-time-material.png") no-repeat;
    width: 20px;
    height: 20px;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 105px;
}

.text-headform {
    color: #4f72e5;
    font-size: 26px;
    font-family: Kanit-Regular;
}

.text-head-listforms {
    color: #4f72e5;
    font-size: 16px;
    font-family: Kanit-Regular;
}

.text-list-forms {
    color: #4a4a4a;
    font-size: 16px;
    font-family: Kanit-ExtraLight;
}

.input-cearch {
    width: 194px;
    height: 30px;
    border-radius: 8px;
    border: solid 0.5px #ceced4;
    background-color: #ffffff;
}

.btn-create-form {
    width: 260px;
    height: 30px;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(268deg, #4f72e5 1%, #314d7b 99%);
    font-family: Kanit-ExtraLight;
}

.btn-check-form {
    width: 112px;
    height: 30px;
    background-image: linear-gradient(to bottom, #4f72e5, #314d7b 119%);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.btn-edit-form {
    width: 112px;
    height: 30px;
    background-image: linear-gradient(to bottom, #f8c146, #ed8e22);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    margin-right: 50px;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.btn-print-form {
    width: 112px;
    height: 30px;
    background-image: linear-gradient(to bottom, #4f72e5, #314d7b 119%);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.btn-home-form {
    width: 112px;
    height: 30px;
    background-image: linear-gradient(to bottom, #4f72e5, #314d7b 119%);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    margin-right: 50px;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.position-icon-ceach {
    position: absolute;
    top: 25%;
    right: 5%;
}

.text-16 {
    font-size: 16px;
    color: #4a4a4a;
}

.text-14 {
    font-size: 14px;
    color: #4a4a4a;
}


/*  */

.file-upload-btn {
    width: 90px;
    height: 26px;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    font-family: Kanit-ExtraLight;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(to bottom, #4f72e5, #314d7b 119%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/img/icon/date-range-material-copy-4.png');
    object-fit: contain;
}