input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: url("/img/icon/date-range-material.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 250px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url("/img/icon/access-time-material.png") no-repeat;
    width: 20px;
    height: 20px;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 105px;
}

#photo_profile {
    width: 73px;
    height: 73px;
    object-fit: contain;
    border: solid 2px #ffffff;
    border-radius: 50%;
}

.card-profile .menu-list:hover,
.menu-list {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.card-profile {
    padding: 0px 45px 0px 58px;
}

.btn-sell {
    height: 45px;
    color: #ffffff;
    border: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    background-color: #ee2a27;
}

.btn-next {
    background-color: #4f72e5;
    color: white;
    width: 140px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.btn-back {
    background-color: #ffffff;
    color: #4f72e5;
    border-color: #4f72e5;
    width: 140px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.next-back .btn-next {
    background-color: #4f72e5;
    width: 23px;
    height: 23px;
    font-size: 14px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.text-head-card {
    font-size: 18px;
    color: #4f72e5;
    font-family: Kanit-Regular;
}

.text-price {
    font-size: 20px;
    color: #4f72e5;
}

.img-pupular {
    width: 81px;
    height: 81px;
    object-fit: cover;
}

hr.card {
    margin: 4px 0px;
    border-top: solid 2px #8a8c8e;
}

.next-bar {
    font-size: 12px;
}