input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: url("/img/icon/date-range-material.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 250px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url("/img/icon/access-time-material.png") no-repeat;
    width: 20px;
    height: 20px;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 105px;
}

table td {
    border-top: 0px !important;
    width: 25%;
}

.text-10 {
    font-size: 10px;
}

.pupulacard-alink,
.pupulacard-alink :hover {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.pos-absolute-top {
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 10%;
}

.pos-absolute-center {
    position: absolute;
    z-index: 2;
    bottom: 3%;
    left: 6%;
    color: white;
}

.position-relative .position-top-right {
    position: absolute;
    top: 19px;
    right: 1px;
}

.position-relative .position-bottom-left {
    position: absolute;
    left: 17px;
    bottom: 12px;
}

.position-relative .position-bottom-text {
    position: absolute;
    left: 17px;
    bottom: 40px;
    font-size: 18px;
    color: white;
}

.color-botton {
    /* background-image: linear-gradient(to bottom, #4f72e5 3%, #314d7b 180%); */
    background-image: linear-gradient(198deg, #4f72e5 3%, #314d7b 180%);
    color: white;
    border-radius: 10px;
    padding: 0;
    width: 140px;
    height: 30px;
    font-size: 14px;
}

.gradient_img-highlight:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 410px;
    height: 455px;
    background-image: linear-gradient(to bottom, rgba(79, 114, 229, 0) 21%, #164ca5 104%);
}

.gradient_img-highlight:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 355px;
    height: 455px;
    background-image: linear-gradient(to bottom, rgba(79, 114, 229, 0) 21%, #164ca5 104%);
}

.btn-modal-close {
    background-color: #ee2a27;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    font-size: 14px;
}

.btn-modal-comfirm {
    background-image: linear-gradient(to bottom, #4f72e5 3%, #314d7b 180%);
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    font-size: 14px;
}

.next-bar {
    font-size: 12px;
}

.has-search {
    width: 65%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    pointer-events: none;
    color: black;
}

.has-search .form-control-upload {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 30px;
    top: 10%;
}

.has-search .input-search {
    border-radius: 10px;
    height: 30px;
}

#photo_profile {
    width: 73px;
    height: 73px;
    margin: 1px 0 2.8px 9px;
    object-fit: contain;
    border: solid 2px #ffffff;
    border-radius: 50%;
}

.btn-upload,
.btn-upload:hover {
    width: 80%;
    color: #4f72e5;
    font-size: 20px;
    font-family: Kanit-Regular;
    background-color: #ffffff;
    border-color: #cecece;
}

.btn-upload-dropdown {
    width: 323px;
    height: 45px;
    font-size: 20px;
    color: #4f72e5;
    background-color: #ffffff;
    border-color: #cecece;
    font-family: Kanit-Regular;
}

.btn-uploads-dropdown {
    width: 215px;
    height: 30px;
    padding: 2px 8px 4px;
    border-radius: 8px;
    border: solid 0.5px #ceced4;
    color: #4f72e5;
}

.btn-next {
    background-color: #4f72e5;
    color: white;
    width: 140px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.btn-create,
.btn-create:hover {
    width: 140px;
    height: 30px;
    /* background-image: linear-gradient(to bottom, #4f72e5, #314d7b 119%); */
    background-image: linear-gradient(225deg, #4f72e5 12%, #314d7b 127%);
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 18px;
    border: none;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
}

.next-back .btn-next {
    background-color: #4f72e5;
    width: 25px;
    height: 30px;
    font-size: 14px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.photo-popular {
    width: 200px;
    height: auto;
    margin: 1px 0 2.8px 9px;
    object-fit: contain;
    border: solid 2px #ffffff;
    border-radius: 50%;
}

.photo-documents {
    width: 38px;
    height: auto;
    object-fit: contain;
    border: solid 2px #ffffff;
}

.icon-library-books-material-bule {
    width: 12px;
    height: 12px;
}

.text-library-books-material-bule {
    font-size: 14px;
    color: #4f72e5;
}

.text-img {
    color: #4a4a4a;
    font-size: 12px;
    font-family: Kanit-Regular;
}

.textover-documents {
    font-size: 14px;
    font-family: Kanit-Regular;
    color: #4a4a4a;
    display: inline-block;
    width: 266px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis
}

.text-titel-video {
    line-height: 25px;
    font-size: 16px;
    color: #4a4a4a;
    font-family: Kanit-Regular;
}

.text-value-volte {
    color: #ffffff;
    font-size: 26px;
    font-family: Kanit-Regular;
}

.text-key-volte {
    color: #ffffff;
    font-size: 18px;
    font-family: Kanit-Regular;
}

.text-titel-photo {
    font-family: Kanit-Regular;
    font-size: 16px;
    color: #4a4a4a;
}

.text-head {
    font-size: 26px;
    color: #4f72e5 !important;
    font-family: Kanit-Regular;
}

.text-key {
    font-size: 16 !important;
    color: #4a4a4a;
    font-family: Kanit-Regular;
}

.text-head-popula {
    font-size: 18px;
    color: #4f72e5;
    font-family: Kanit-Regular;
}

.text-event-pupula {
    font-size: 14px;
    min-height: 42px;
    font-family: Kanit-Regular;
}

.text-body-popula {
    font-size: 11px;
    color: #4a4a4a !important;
}

.text-head-highlight {
    font-size: 23px;
    color: #4f72e5
}

.position-bottom-left span {
    font-size: 12px;
    color: white;
    margin-right: 10px;
}

.position-top-right span {
    font-size: 12px;
    color: white;
    margin-right: 10px;
}

.sweetalert-album {
    border-radius: 0;
}

.icon-sweetalert-album {
    width: 20px;
    height: 20px;
}


/* ----------------------------- */


/* Code By Webdevtrick ( https://webdevtrick.com ) */

.container {
    padding: 50px 10%;
}

.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.btn-primary {
    background-color: crimson;
    border: 1px solid #212121;
}