input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: url("/img/icon/date-range-material.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 250px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url("/img/icon/access-time-material.png") no-repeat;
    width: 20px;
    height: 20px;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 105px;
}

.input-cearch {
    width: 273px;
    height: 30px;
    border-radius: 8px;
    border: solid 0.5px #ceced4;
    background-color: #ffffff;
    font-family: Kanit-ExtraLight;
}

.img-card {
    width: 73px;
    height: 73px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #ffffff;
    border-radius: 50%;
}

.text-14 {
    font-size: 14px;
}

.text-head {
    font-size: 24px;
    color: #4f72e5;
    font-family: Kanit-Regular;
}

.text-profile-name {
    font-size: 11px;
    color: #4a4a4a;
    font-family: Kanit-Regular;
}

.text-profile-position {
    font-size: 11px;
    color: #4a4a4a;
    font-family: Kanit-ExtraLight;
}

.text-bridday-name {
    font-size: 14px;
    color: #4a4a4a;
    font-family: Kanit-Regular;
}

.position-icon-ceach {
    position: absolute;
    top: 25%;
    right: 5%;
}

.statusnew-position-absolute {
    border-radius: 20%;
    font-size: 9px;
    padding: 0px 6px;
    color: #ffffff;
    position: absolute;
    top: 3px;
    left: 54px;
    font-family: Kanit-ExtraLight;
}

.status-position-absolute {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    font-size: 9px;
    padding: 0px 6px;
    color: #ffffff;
    position: absolute;
    top: 53px;
    left: 65px;
}

.items-birdday {
    border-radius: 3px;
    background-color: #ffffff97;
}

.img-items-birdday {
    width: 43px;
    height: 43px;
    border: solid 2px #ffffff;
    border-radius: 50%;
}

.text-birdday-date {
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-family: Kanit-ExtraLight;
}

.btn-create-form {
    width: 204px;
    height: 30px;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(268deg, #4f72e5 1%, #314d7b 99%);
    font-family: Kanit-ExtraLight;
}

.btn-chat-send {
    width: 112px;
    height: 30px;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    font-family: Kanit-ExtraLight;
    border-radius: 8px;
    box-shadow: -2px 3px 7px 1px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(268deg, #4f72e5 1%, #4362c6 99%);
}


/* Page inbox and Chat */

.img-avatar {
    width: 62px;
    height: 62px;
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5); */
    border: solid 3px #ffffff;
    border-radius: 50%;
}

.chat-name {
    font-size: 18px;
    color: #4f72e5;
    font-family: Kanit-Regular;
}

.chat-time {
    font-size: 14px;
    color: #4f72e5;
    font-family: Kanit-ExtraLight;
}

.text-chat {
    font-size: 18px;
    color: #4f72e5;
    font-family: Kanit-ExtraLight;
}

.text-file {
    font-size: 16px;
    color: #4f72e5;
    font-family: Kanit-ExtraLight;
}

.text-count-chat {
    font-size: 12px;
    font-family: Kanit-ExtraLight;
}

.bg-chat {
    border: solid 1px #ececec;
    background-color: #fdfdfd;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.bg-inbox {
    border: solid 1px #ececec;
    background-color: #fdfdfd;
}


/* Hr New chat */

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
    border-top: 1px dashed#bfbfbf;
}

.ck-content {
    min-height: 210px;
}